html,
body {
  margin: 0;
  padding: 0;  
}
h1{ 
    text-decoration: underline;
    text-align:center;
}

p{
letter-spacing: 0.01em;
line-height: 1.8em;
font-size: 2em;
}

  
/*bouton reserver*/
.boutton1{
  position:relative;
  margin-top: 5%;
  margin-left: 45%;
}

  #accueil a{
    display: block;
    width: 120px;
    line-height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(245, 238, 238);
    border: 0px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    background-color: rgb(7, 6, 6);
  }
  
  #accueil a span{
    position: relative;
    z-index: 2;
  }
  
  #accueil  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: all .40s;
  }
  
  #accueil a:hover{
    color: rgb(5, 1, 1);
  }
  
  #accueil a:hover:after{
    width: 100%;
  }
 
  /*partie media du nav and entete*/

    header.entete {
      padding-top: 10rem;
      padding-bottom: 30rem;
      text-align: center;
      color: rgb(7, 1, 1);
      background-image: url("../customer.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
    }
  
      header.entete .sous-titre {
        font-size: 3rem;
        font-style: italic;
        line-height: 2rem;
        margin-top: 4rem;
        padding-top: 10rem;
      }
      header.entete .titre {
        font-size: 4rem;
        font-weight: 900;
        line-height: 4rem;
        margin-top: 2rem;
        padding-top: 2rem;
      }

      @media screen and (max-width: 800px) {
        .boutton1{
          position:relative;
          margin-top: 15%;
          margin-left: 36%;
        }
        
        header.entete {
          padding-bottom: 20rem;
          text-align: center;
          color: rgb(7, 1, 1);
          background-image: url("../53807.jpg");
        }
      
          header.entete .sous-titre {
            font-size: 1.9rem;
            font-style: italic;
            line-height: 3rem;
            margin-top: 15rem;
            padding-top: 5rem;
            font-weight: 500;
          }
          header.entete .titre {
            font-size: 4rem;
            font-weight: 900;
            line-height: 4rem;  
            margin-top: 2rem;
            padding-top: 4rem;
          }
}
/** fin section à entete **/


/** about section à propos **/
#apropos h1{
  margin-top: 50px;
  font-size: 3em;
  line-height: 1.2em;
  text-decoration: underline;
  text-align:center;
}

#apropos, #services, #contact{
  margin-top: 0.5em;
  padding: 80px;
  background-color: #00E676;
}

.imageabout{
  width: 370px;
  height: 500px;
  border-radius: 2em;
}

.texte{
  font-size: 2rem;
  text-align: center;
}


/* button à plus d'info */
.boutton2{
  position:relative;
  margin-top: 10%;
  margin-left: 40%;
}

#apropos a{
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(245, 238, 238);
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  background-color: rgb(7, 6, 6);
}

#apropos a span{
  position: relative;
  z-index: 2;
}

#apropos  a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all .40s;
}

#apropos a:hover{
  color: rgb(5, 1, 1);
}

#apropos a:hover:after{
  width: 100%;
}

@media screen and (max-width: 800px) {
  .boutton2{
    position:relative;
    margin-top: 10%;
    margin-left: 25%;
  }
  #apropos a{
    line-height: 20px;
  }
  #apropos h1{
    margin-top: 4px;
    font-size: 2.5em;
    line-height: 1.2em;
  }
  
  #apropos{
    display: flex;
    justify-content: center;
  }
  
  .imageabout{
    width: 300px;
    height: 300px;
    margin-top: 5%;
  }
  
  .texte{
    font-size: 1.5rem;
  }

}

/** fin about section à propos **/


/**debut services section **/

#services h1{
  font-size: 4em;
  line-height: 1.9em;
  
}   
.choix{
  color:#030211;
  display:block;
  font-weight:600px;
  font-size:2em;
}

.heure, .plan { 
  font-size:2em;
}
/* Boutton général reserver du services */
#services a{
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(245, 238, 238);
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  background-color: rgb(7, 6, 6);
}

#services a span{
  position: relative;
  z-index: 2;
}

#services a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all .40s;
}

#services a:hover{
  color: rgb(5, 1, 1);
}

#services a:hover:after{
  width: 100%;
}

@media screen and (max-width: 800px) {
  #services h1{
    margin-top: 2px;
    font-size: 2.5em;
    line-height: 1.2em;
   padding-bottom: 5%;
  }
  
}

  /** début section contact **/

#contact h1{
  font-size: 60px;
  line-height: 1.1em;
}  

.btn4{
  position:relative;
  top: 20%;
  left: 90%;
  transform: translate(-50%, -50%);
}

#contact button{
  display: block;
  top: 2em;
  width: 150px;
  height: 40px;
  line-height: 30px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(245, 238, 238);
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  background-color: rgb(7, 6, 6);
}

#contact button span{
  position: relative;
  z-index: 2;
}

#contact button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all .40s;
}

#contact button:hover{
  color: rgb(5, 1, 1);
}

#contact button:hover:after{
  width: 100%;
}

@media screen and (max-width: 800px) {
  #contact {
    margin-bottom: 1em; 
    background-color: #00E676;
  }
  .btn4{
    position:relative;
    margin-top: 10%;
    margin-left: -25%;
}
#contact  h1{
  margin-top: 2px;
  font-size: 2.5em;
  line-height: 1.2em;
}
}
/*Partie footer*/
#Réseaux {
  text-align: center;
  line-height: 2.5em;
  padding: 10px;
  background-color: #00E676;
  
}
#Réseaux h2 {
  text-decoration: underline;
  color: rgb(8, 5, 5);
  font-size: 2.4em;
  text-align: center;
}

#Réseaux li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
#Réseaux li div{
  width: 120px;
  height: 120px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: rgb(4, 119, 113);
  transition: all 0.5s ease;
}
 #Réseaux li a {
  color: #77cc6d;
}
#Réseaux li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
 #Réseaux li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: rgb(10, 9, 9);
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
    
@media screen and (max-width: 800px) {
#Reseau  h2{
  margin-top: 2px;
  font-size: 2.5em;
  line-height: 1.2em;
  }
}


