/* Début Partie Général */
html,
body {
  margin: 0;
  padding: 0;  
}
h1{ 
    text-decoration: underline;
    text-align:center;
}
p{
letter-spacing: 0.01em;
line-height: 1.8em;
font-size: 2em;
}
#apropos, #services, #contact{
  margin: 0.5em;
  padding-top: 80px;
}
#accueil a, #apropos a, #services a{
font-family: sans-serif;
text-decoration: none;
color: rgb(245, 238, 238);
border: 2px solid #333;
letter-spacing: 2px;
text-align: center;
position: relative;
transition: all .35s;
background-color: rgb(7, 6, 6);
}
#accueil a span, #apropos a span, #services a span{
  position: relative;
  z-index: 2;
}
#accueil  a:after, #apropos a:after, #services a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all .40s;
}
#accueil a:hover, #apropos a:hover, #services a:hover{
  color: rgb(5, 1, 1);
}
#accueil a:hover:after,  #apropos a:hover:after, #services a:hover:after{
  width: 100%;
}
/*fin bouton reserver*/
/* Fin Partie Général */

/* Début Partie Accueil */
/*bouton reserver*/
.boutton1{
  position:relative;
  margin-top: 5%;
}
  /*partie entete*/
    header.entete {
      padding-top: 7rem;
      padding-bottom: 20rem;
      text-align: center;
      color: rgb(7, 1, 1);
      background-image: url("../images/Images-Accueil.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
    }
      /*partie du sous-titre*/
      header.entete .sous-titre {
        font-size: 3rem;
        font-style: italic;
        line-height: 2rem;
        margin-top: 4rem;
        padding-top: 10rem;
      }
      /*partie du titre*/
      header.entete .titre {
        font-size: 4rem;
        font-weight: 900;
        line-height: 4rem;
        margin-top: 2rem;
        padding-top: 2rem;
      }
      /*Media queries de l'accueil*/
      @media screen and (max-width: 800px) {
        .boutton1{
          position:relative;
          margin-top: 15%;
        }
        
        header.entete {
          padding-bottom: 20rem;
          text-align: center;
          color: rgb(7, 1, 1);
          background-image: url("/images/Images-Accueil.jpg");
        }
          header.entete .sous-titre {
            font-size: 1.9rem;
            font-style: italic;
            line-height: 3rem;
            margin-top: 15rem;
            padding-top: 5rem;
            font-weight: 500;
          }
          header.entete .titre {
            font-size: 4rem;
            font-weight: 900;
            line-height: 4rem;  
            margin-top: 2rem;
            padding-top: 4rem;
          }
}
/** fin section Accueil**/

/** Début section à propos **/
#apropos h1{
  margin-top: 50px;
  font-size: 3em;
  line-height: 1.2em;
  text-decoration: underline;
  text-align:center;
}
.imageabout{
  width: 370px;
  height: 450px;
  border-radius: 2em;
}
.texte{
  font-size: 2rem;
  text-align: center;
}
/* button plus d'infos */
.boutton2{
  position:relative;
  margin-top: 5%;
  margin-left: 40%;
}
#apropos p{
  margin-top: 5%;
}
/* Media queries de à propos */
@media screen and (max-width: 800px) {
  .boutton2{
    position:relative;
    margin-top: 10%;
    margin-left: 25%;
  }
  #apropos a{
    line-height: 20px;
  }
  #apropos h1{
    margin-top: 4px;
    font-size: 2.5em;
    line-height: 1.2em;
  }
  #apropos{
    display: flex;
    justify-content: center;
  }
  .imageabout{
    width: 300px;
    height: 300px;
    margin-top: 5%;
  }
  .texte{
    font-size: 1.5rem;
  }
}
/** fin section à propos **/


/**debut section services **/
#services h1{
  font-size: 3em;
  line-height: 1.2em;
}   
.choix{
  color:#030211;
  display:block;
  font-weight:600px;
  font-size:2em;
}
.heure, .plan { 
  font-size:2em;
}

/** partie média du contact **/
@media screen and (max-width: 800px) {
  #services h1{
    margin-top: 2px;
    font-size: 2.5em;
    line-height: 1.2em;
   padding-bottom: 5%;
  }
}
/**debut section services **/

  /** début section contact **/
#contact h1{
  font-size: 3em;
  line-height: 1.2em; 
}  
.boutton3{
  position:relative;
  top: 100%;
  left: 45%;
}
#contact button{
  display: block;
  top: 2em;
}
/* Partie média du contact */
@media screen and (max-width: 800px) {
  #contact {
    margin-bottom: 1em; 
  }
  .boutton3{
    position:relative;
    margin-top: 10%;
    margin-left: -15%;
}
#contact  h1{
  margin-top: 2px;
  font-size: 2.5em;
  line-height: 1.2em;
}
}
/* Fin partie contact */

/*début Partie footer*/
#Réseaux {
  text-align: center;
  line-height: 2.5em;
  padding: 10px;
}
#Réseaux h2 {
  text-decoration: underline;
  color: rgb(8, 5, 5);
  font-size: 3em;
  text-align: center;

}

#Réseaux li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
#Réseaux li div{
  width: 120px;
  height: 120px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: rgb(4, 119, 113);
  transition: all 0.5s ease;
}
 #Réseaux li a {
  color: #77cc6d;
}
#Réseaux li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
 #Réseaux li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: rgb(10, 9, 9);
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
  /* Media queries du footer */
@media screen and (max-width: 800px) {
#Réseaux  h2{
  margin-top: 2px;
  font-size: 2.5em;
  line-height: 1.2em;
  }
}


